{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}

<br><br><br><br><br><br><br>
	<div class="fh5co-hero">
		<div class="fh5co-listing">
			<div class="container">
				<div class="row">
					{% for data in courses_qs %}
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item" href="/details/{{data.id}}">
							<img src="/{{data.image}}"
								 alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>{{data.subcategory}}</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
</div>
{% endblock %}


