{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}
<br>
<div class="main">
		<div class="row">
          <div class="col-md-2" style="background-color:#fff;">
              <a class="sidenavli active" href="/sprofile/" onclick="myFunction('course-0')">Profile</a>
          </div>

		 <div class="col-md-9" style="background-color:#fafafa"><br>
				<form action="../sprofile/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<h2>{{data.name}}</h2> <hr>
						<input type="hidden" class="form-control"  name="id" value="{{data.id}}">
						<span style="color:#000;">Name: </span>
							<input type="text" class="form-control"  name="name" value="{{data.name}}">
						<span style="color:#000;">category: </span>
							<input type="text" class="form-control"  name="category" value="{{data.subCategory}}">
						<span style="color:#000;">courseAvailability: </span>
							<input type="text" class="form-control"  name="courseAvailability" value="{{data.courseAvailability}}">
						<span style="color:#000;">price: </span><input type="text" class="form-control"  name="price" value="{{data.price}}">
						<span style="color:#000;">level: </span><input type="text" class="form-control"  name="level" value="{{data.level}}">
						<span style="color:#000;">Prerequisites: </span><input type="text" class="form-control"  name="requirements" value="{{data.requirements}}">
						<span style="color:#000;">description: </span>

						<textarea class="form-control"  name="description" >{{data.description}}</textarea>
						<br>
						<input type="file" name="image" />
						<br><br>
						<center> <input type="submit" name="edit_course" class="btn btn-warning " value="Update Course"> </center>
					</div>
				</form>
			</div>
		</div>
{% endblock %}


