{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}
<hr>
	<!-- single page -->
	<div class="single-page ">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section text-center mb-md-5 mb-4">
				<h3 class="w3ls-title">Course <span>Details</span></h3>
			</div>
			<div class="inner-sec">
				<div class="row">
					{% for data in course_details_qs %}
					<div class="col-lg-8 left-blog-info text-left">
						<div class="blog-grid-top">
							<div class="b-grid-top">
								<div class="blog_info_left_grid">
									<a href="single.html">
										<img src="/{{data.image}}" class="img-fluid" alt="">
									</a>
								</div>
							</div>
							<br>
							<h3>
								{{data.name}}
							</h3><hr>
							<p style="float:left;">Trainer: <span style="color:#000">{{seller_qs.name}}</span></p>
							<p style="float:right;">Level: <span style="color:#000">{{data.level}}</span></p><br><hr><br>
							<p>{{data.description}}</p><hr>
							<h5> Prerequisites: </h5><br>
							<p>{{data.requirements}}</p><hr>
								<form action="../add_to_cart/", method="post">
									{% csrf_token %}
									<input type="hidden" name="item" value="{{course_id}}">
									<input type="submit" class="btn btn-block btn-warning" value="Add to Cart" />
								</form><br>
						</div>
						<br>

						<div class="comment-top">
							<h4>Reviews</h4><br>
							<div class="media">
								<a class="d-flex pr-3" href="#">
									<img src="/static/images/te2.jpg" alt="" class="img-fluid" />
								</a>
								<div class="media-body">
									<h5 class="mt-0">Joseph Goh</h5>
									<p>It was presented clearly and efficiently.
										The courses thus far have built upon my programming
										logic and has given me a good introduction into PLC and FBD
										that is very necessary in my field of robotics integration. </p>
								</div>
							</div>
							<hr>
							<div class="media mt-3">
								<a class="d-flex pr-3" href="#">
									<img src="/static/images/te2.jpg" alt="" class="img-fluid" />
								</a>
								<div class="media-body">
									<h5 class="mt-0">Richard Spark</h5>
									<p>I just finished the course with no hassle. Mr. Hamsho
										is a great instructor who leaves no stone unturned in ensuring
										that you get the information you need about PLC. I am looking forward
										to learning more from him about PLCs.</p>
								</div>
							</div>
						</div>
						<br><br>
						<div class="comment-top">
							<h4>Leave a Comment</h4><br>
							<div class="comment-bottom">
								<form action="#" method="post">
									<div class="form-group">
										<input class="form-control" type="text" name="Name" placeholder="Name"
											required="">
									</div>
									<div class="form-group">
										<input class="form-control" type="email" name="Email" placeholder="Email"
											required="">
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="Subject" placeholder="Subject"
											required="">
									</div>
									<div class="form-group">
										<textarea class="form-control" name="Message" placeholder="Message..."
											required=""></textarea>
									</div>
									<button type="submit" class="btn btn-primary submit">Submit</button>
								</form>
							</div>
						</div>
					</div>
					<!-- //left side -->
					<!-- right side -->
					<aside class="col-lg-4 right-blog-con text-right mt-lg-0 mt-5">
						<div class="right-blog-info text-left">
							<div class="tech-btm">
								{% endfor %}
							</div>
							<div class="category-story tech-btm"><br>


							<div class="tech-btm">
								<h4>Similar Courses</h4><hr>
								{% for data in course_details_all %}
								<div class="blog-grids row mb-3">
									<div class="col-md-12">
										<h5>
											<a href="single.html">{{data.description}}
											</a>
										</h5>
										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i>{{data.date_created}}</span>
										</div>
									</div>
								</div>
								{% endfor %}
							<br>
							<hr>
							<div class="tech-btm"><br>
								<h4>Categories</h4><br>
								<ul class="list-group single">
									{% for mykey, myvalue in categories.items %}
									<li class="list-group-item d-flex justify-content-between align-items-center">
										{{mykey}}
										<span class="badge badge-primary badge-pill">{{myvalue}}</span>
									</li>
									{% endfor %}
								</ul>
							</div>
							<br>
							<div class="single-gd tech-btm">
								<h4>Other Courses By : {{ seller_qs.name}}</h4><br>
								{% for data in course_details_all %}
									<div class="blog-grids">
										<div class="blog-grid-left">
											<a href="single.html">
												<img src="/{{data.image}}" class="img-fluid" alt="">
											</a>
										</div>
										<div class="blog-grid-right">
											<br><h5 class="mt-0">
												<a href="single.html">{{data.name}}</a>
											</h5>
											<p>{{data.description}}</p>
										</div>
										<div class="clearfix"> </div>
									</div><hr>
								{% endfor %}
							</div>
						</div>
					</aside>
					<!-- //right side -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
