{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}
<hr>

<div class="main">
		<div class="row">
          <div class="col-md-2" style="background-color:#fff;">
              <a class="sidenavli active" href="#course-0" onclick="myFunction('course-0')">Profile</a>
              <li class="sidenavli" href="#news">Courses</li>
                  <a class="sidenava" onclick="myFunction('course-plus')" href="#course-{{data.id}}">
                    Add New Course</a>
              {% for data in course_details_qs %}
                  <a class="sidenava" onclick="myFunction('course-{{data.id}}')" href="#course-{{data.id}}">
                    {{data.name}}</a>
              {% endfor %}
          </div>
	      <div class="col-md-9" style="background-color:#fafafa"><br>
			<div class="row" id="course-0">
				<form action="" method="post">
					{% csrf_token %}
					<div class="form-group">
						<span>Name</span><input type="text" class="form-control" value="{{seller_qs.name}}" name="name"/><br>
						<span>Phone</span><input type="text" class="form-control" value="{{seller_qs.phone}}" name="phone"/><br>
						<span>Email</span><input type="text" class="form-control" value="{{seller_qs.email}}" name="email"/><br>
						<span>Company</span><input type="text" class="form-control" value="{{seller_qs.company}}" name="company"/><br>
						<span>About</span>
						<textarea class="form-control" class="form-control" rows="5" name="about" id="about">
						{{seller_qs.about}}
						</textarea><br>
						<img class="card-img-top" src="{{data.profile_pic}}" alt="profile_pic" style="width:100%"><br>
						<input type="file" class="form-control-file" id="exampleFormControlFile1" name="profile_pic"><br>
						<center>
							<input type="submit" name="profile" class="btn btn-warning " value="Update Profile">
						</center>
					</div>
					<br>
				</form>
			</div>
			{% load crispy_forms_tags %}
			<div class="row"  id="course-plus" style="background-color:#fafafa">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
                      {{ form.name|as_crispy_field }}
                      {{ form.subCategory|as_crispy_field }}
                      {{ form.description|as_crispy_field }}
                      {{ form.courseAvailability|as_crispy_field }}
					    <input type="file" name="image" />
                      {{ form.price|as_crispy_field }}
                      {{ form.level|as_crispy_field }}
                      {{ form.requirements|as_crispy_field }}
					<br>
					<center>
						<input type="submit" name="new_course" class="btn btn-warning " value="Submit">
					</center>
					<br><br><br><br><br>
				</form>
			</div>
			{% for data in course_details_qs %}
			<div class="row" name="edit_course" style="background-color:#fafafa;padding:5px;" id="course-{{data.id}}">
			  <div class="row">
				<div class="col-md-6" style="float:left;">
					<h2>{{data.name}}</h2> <hr>
					<p><span style="color:#000;">Category: </span>{{data.subCategory}}</p><br>
					<p><span style="color:#000;">Online/Offline: </span>{{data.courseAvailability}}</p><br>
					<p><span style="color:#000;">Price: </span>{{data.price}}</p><br>
					<p><span style="color:#000;">Level: </span>{{data.level}}</p><br>
					<p><span style="color:#000;">Prerequisites: </span>{{data.requirements}}</p><br>
					<a href="/editCourse/{{data.id}}"><p style="color:red;float:right;"></p></a><br>
					<br><br><br>
				</div>
					<div class="col-md-6" style="float:left;">
						<img src="/{{data.image}}" alt="Training Yard" class="col-md-12 col-sm-4">
						<p style="text-align:justify;color:black;margin-top:10px;">{{data.description}}</p>
					</div>
				</div>
				<br>
			  <div class="row">
				<div class="col-md-12">
					<center>
						<a href="/edit/{{data.id}}" class="btn btn-warning"> Edit Course </a>
					</center>
				</div>
			  </div>
		  </div>
			{% endfor %}





  </div>
</div>

<script>
let elms = document.querySelectorAll('[id^="course-"]')
for(let i=0; i<elms.length; i++)
{
  var x = document.getElementById(elms[i].id);
  x.style.display = "none";
}
  var y = document.getElementById('course-0');
  y.style.display = "block";

function myFunction(y) {
  let elms = document.querySelectorAll('[id^="course-"]')
  for(let i=0; i<elms.length; i++)
  {
    var x = document.getElementById(elms[i].id);
    x.style.display = "none";
  }
  var y = document.getElementById(y);
  y.style.display = "block";
}

</script>
{% endblock %}