{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}
<div class="container">
	<div class="col-md-12">
		<h3>{{ user.name }}</h3><br>
		{{ user.email }}<br>
		{{ user.phone }}<br>
	</div>
			<div class="text-center ">
				<h3 class="w3ls-title">My <span>Courses</span></h3>
			</div>
		<div class="row mt-4">
		{% for course in course_details %}
				<div class="col-md-4">
					<div class="gallery-demo" style="padding:10px;">
						<a href="#gal{{data.id}}">
							<img class="card-img-bottom" src="/{{data.image}}" />
							<h3>{{ course.name }}</h3>
							<hr>
							{{ course.subCategory }}<br>
							Price: {{ course.price }} INR <br>
							Level: {{ course.level }}<br>
							Prerequisites: {{ course.requirements }}<br>
						</a>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	<br><br><br>
	<br><br><br>
	<br><br><br>
</div>
{% endblock %}


