{% extends 'accounts/base.html'%}
{% block content %}
{% load static %}

<hr>
<div class="container">
	<div class="col-md-12">
		{% for data in user1 %}
		<h3>{{ data.name }}</h3><br>
		{{ data.email }}<br>
		{{ data.phone }}<br>
		{% endfor %}
	<hr>
			<div class="title-section text-center mb-md-5 mb-4">
				<h3 class="w3ls-title">My <span>Courses</span></h3>
			</div>
		<div class="row mt-4">
		{% for course in course_details %}
				<div class="col-md-4">
					<div class="gallery-demo">
						<a href="#gal{{data.id}}">
							<img class="card-img-bottom" src="/{{data.items.product.image}}" />
							<h4 class="p-mask">{{data.name}}</h4>
							{{ course.name }} -
							{{ course.subCategory }}<br>
							Price: {{ course.price }} INR <br>
							Level: {{ course.level }}<br>
							Prerequisites: {{ course.requirements }}<br>
						</a>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	<br><br><br>
</div>
{% endblock %}


