<!DOCTYPE html>
{% block content %}
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc animate-box">
					<h2>Learn Anything </h2>
					<h4>From Professionals </h4>
					<span>
					<!-- Search form -->
						<form class="form-inline d-flex md-form form-sm active-pink-2 mt-2">
						  <input class="form-control form-control-sm" type="text" placeholder="Search Trainings"
							aria-label="Search Trainings" style="">
						  <i class="fa fa-search" aria-hidden="true"></i>
						</form>
					</span>
				</div>
			</div>

		</div>

		<div class="fh5co-listing">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/gym.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Gym Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/music.jpg' %}" alt="Trainers Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Music Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/it.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>IT Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<!-- END 3 row -->

					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/selfdefence.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Self Defence Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/academic.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Academic Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/meditation.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Meditation Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<!-- END 3 row -->


					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/sports.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Sports Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/photography.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Photography Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-md-4 col-sm-4 fh5co-item-wrap">
						<a class="fh5co-listing-item">
							<img src="{% static 'images/dance.jpg' %}" alt="Training Yard" class="img-responsive">
							<div class="fh5co-listing-copy">
								<h2>Dance Trainers</h2>
								<span class="icon">
									<i class="icon-chevron-right"></i>
								</span>
							</div>
						</a>
					</div>
					<!-- END 3 row -->
				</div>
			</div>
		</div>


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 fh5co-news">
						<h3>News</h3>
						<ul>
							<li>
								<a href="#">
									<span class="fh5co-date">Sep. 10, 2016</span>
									<h3>Newly done Bridge of London</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fh5co-date">Sep. 10, 2016</span>
									<h3>Newly done Bridge of London</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fh5co-date">Sep. 10, 2016</span>
									<h3>Newly done Bridge of London</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6 fh5co-testimonial">
						<img src="{% static 'images/cover_bg_1.jpg' %}" alt="Training Yard" class="img-responsive mb20">
						<img src="{% static 'images/cover_bg_1.jpg' %}" alt="Training Yard" class="img-responsive">
					</div>
				</div>
			</div>
		</div>

